// Content

.content {
  padding: 50px 0 100px 0;
  @include clearfix;

  @media (max-width: 686px) {
    padding: 30px 0;
  }

  h2 {
    font-weight: normal;
    margin: 0 0 20px 0;
    line-height: auto;
    font-size: $font-large-2;
    color: $dark-gray;
  }

  aside {
    width: 210px;
    position: relative;
    float: left;

    @media (max-width: 686px) {
      width: 100%;
      float: none;
    }

    .ion-refresh {
      position: absolute;
      top: 3px;
      right: 0;
      color: $red;
      font-size: $font-large;

      &:hover {
        color: $dark-gray;
      }
    }
  }

  .entry {
    margin-left: 270px;
    @include clearfix;

    @media (max-width: 686px) {
      margin: 30px 0 0 0;
    }
  }
}

