// Footer

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: $font-small;
  background: $white;
  padding: 15px 0;

  @media (max-width: 686px) {
    position: relative;
    bottom: none;
    left: none;
  }

  p {
    font-weight: bold;
    margin: 0;
    opacity: .5;
  }
}
