// Footer

footer {
  width: 100%;
  border-top: 1px solid $light-gray-2;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: $font-small;
  background: $white;
  padding: 15px 0;

  p {
    font-weight: bold;
    margin: 0;
    opacity: .5;
  }
}
