.products-list {
  padding: 0;
  margin: 0;
  @include clearfix;

  li {
    width: 210px;
    list-style-type: none;
    float: left;
    margin: 0 0 0 10px;

    @media (max-width: 1240px) {
      margin: 0 0 0 6%;
    }

    @media (max-width: 1075px) {
      margin: 0 0 0 2%;
    }

    @media (max-width: 686px) {
      width: 100%;
      margin: 0 0 10px 0;
    }

    > a {
      background: $white;
      box-shadow: 0 2px 2px $light-gray-2;
      display: block;
      padding: 10px;
      text-align: center;
      @include clearfix;
    }

    img {
      width: 100%;
      padding: 10px;

      @media (max-width: 686px) {
        width: 100px;
        margin-right: 12px;
        float: left;
      }
    }
  }

  .product-infos {
    text-align: left;
  }

  h3 {
    margin: 0;
    font-weight: normal;
    font-size: $font-medium;
    line-height: 19px;
  }
}

.entry {

  .products-list {

    @media (max-width: 1010px) {

      li {
        width: 100%;
        margin: 0 0 10px 0;
      }

      img {
        width: 100px;
        margin-right: 12px;
        float: left;
      }
    }
  }
}

.content aside .products-list li {
  margin-left: 0;
  width: 100%;
}

.entry .products-list li:first-child {
  margin-left: 0;
}

.entry .products-list li:last-child {

  @media (max-width: 1240px) {
    display: none;
  }

  @media (max-width: 1010px) {
    display: block;
  }
}

