.products-list {
  padding: 0;
  margin: 0;
  @include clearfix;

  li {
    width: 210px;
    list-style-type: none;
    float: left;
    margin: 0 0 0 10px;

    @media (max-width: 1240px) {
      margin: 0 0 0 6%;
    }

    @media (max-width: 1075px) {
      margin: 0 0 0 2%;
    }

    @media (max-width: 686px) {
      width: 100%;
      margin: 0 0 10px 0;
    }

    > a {
      background: $white;
      box-shadow: 0 2px 2px $light-gray-2;
      display: block;
      padding: 10px;
      text-align: center;
      @include clearfix;

      &:hover {
        opacity: .8;
      }

      h3 {
        margin: 0;
        font-weight: normal;
        font-size: $font-medium;
        line-height: 19px;
        color: $dark-gray;
        font-family: $helvetica;
      }
    }

    img {
      width: 100%;
      padding: 7px 10px;

      @media (max-width: 686px) {
        width: 100px;
        margin-right: 12px;
        float: left;
      }
    }
  }

  .product-infos {
    font-weight: bold;
    text-align: left;
    color: $red;
  }

  .main-price {
    color: $black;

    span {
      font-size: $font-small;
      font-weight: normal;
      color: $medium-gray;
      text-decoration: line-through;
      margin-left: 5px;
    }
  }

  .price {
    margin-top: -5px;

    span {
      vertical-align: top;
      font-size: $font-medium;
      margin: 4px 5px 0 0;
      float: left;
    }

    strong {
      vertical-align: top;
      font-size: $font-large-2;
    }
  }
}

.entry {

  .products-list {

    @media (max-width: 1010px) {

      li {
        width: 100%;
        margin: 0 0 10px 0;
      }

      img {
        width: 100px;
        margin-right: 12px;
        float: left;
      }
    }
  }
}

.content aside .products-list li {
  margin-left: 0;
  width: 100%;
}

.entry .products-list li:first-child {
  margin-left: 0;
}

.entry .products-list li:last-child {

  @media (max-width: 1240px) {
    display: none;
  }

  @media (max-width: 1010px) {
    display: block;
  }
}


// Stars

.ion-star {
  color: $medium-gray;
  font-size: $font-medium-2;
}

.star-actived {
  color: $yellow;
}
